node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

.next
/out
/build
dist

.git
.gitignore
.gitattributes

.env
.env*.local
.env.development
.env.test
.env.production
.env.sentry-build-plugin

.DS_Store
*.pem
Thumbs.db

.vscode
/.vscode
.idea
*.swp
*.swo
*~

coverage
/.coverage
.nyc_output
*.lcov

*.log
logs

README.md
LICENSE.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md

Dockerfile
docker-compose.yml
.dockerignore

.github
.gitlab-ci.yml
.circleci

*.md

generated
messages/*.d.json.ts
*.tsbuildinfo
next-env.d.ts

.vercel
.unlighthouse
certificates

.patches

test
tests
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

.cache
.turbo
