# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.vscode/
/.vscode/

# testing
/coverage

# next.js
.next/
/out/

# production
/build
dist/

# misc
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea

# Bun
.bun/
bun.lockb

# Sentry Config File
.env.sentry-build-plugin

messages/*.d.json.ts


certificates
.unlighthouse
generated
.opencode
