DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=
TURNSTILE_SECRET_KEY=
CI=
CORS_ORIGINS=http://localhost:3000,https://reconned.com,https://beta.reconned.com
